.item-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin: 40px 0;
}

.item-container__img {
  width: 300px;
  max-width: 300px;
}

.item-container-price {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.item-container-price > h2 {
  font-weight: 500;
}

.item-container-price__pr {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.item-container-price__pr > h2 {
  font-weight: 500;
}

.item-container-price__delete {
  font-size: 14px;
  text-decoration: none;
  color: #5292d7;
}

.item-container-price__delete:hover {
  text-decoration: underline;
}

.apple-care {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 25px;
}

.apple-care-info > h3 {
  font-weight: 450;
}

.apple-care-info > h3 > span {
  color: rgb(194, 13, 13);
}

.apple-care-info > p {
  color: #555;
  font-size: 14px;
}

.apple-care-info > a {
  font-size: 14px;
  text-decoration: none;
  color: #5292d7;
}

.apple-care-info > a:hover {
  text-decoration: underline;
}

.apple-care-add > a {
  font-size: 16px;
  text-decoration: none;
  color: #5292d7;
}

.apple-care-add > a:hover {
  text-decoration: underline;
}

.envio-info > h3 {
  font-weight: 450;
}

.envio-info > h3 > a {
  text-decoration: none;
  color: #5292d7;
}

.envio-info > h3 > a:hover {
  text-decoration: underline;
}

.envio-info > p {
  color: #555;
  font-size: 14px;
}
