.banner {
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  text-align: center;
  background-color: #fff;
}

.banner > h1 {
  font-size: 50px;
  margin: 80px 0 -20px 0;
}

.banner > h2 {
  font-size: 24px;
}

.banner > img {
  width: 70%;
}

.new-banner {
  margin-top: 20px;
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  background-color: #010001;
  color: #fff;
  opacity: 90%;
}

.new {
  margin-top: 70px;
  font-size: 20px;
  color: rgba(253, 94, 1, 0.897);
  font-weight: lighter;
}

.new-banner > h1 {
  font-size: 50px;
  margin: -25px 0 -20px 0;
}

.model {
  color: rgba(253, 94, 1, 0.897);
  font-weight: bold;
  font-size: 20px;
}

.subtitle {
  font-size: 24px;
  margin-top: -10px;
}

.new-banner > img {
  margin-top: 15px;
  width: 50%;
}

.buy-banner {
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  text-align: center;
  background-color: #eeee;
}

.buy-banner > h1 {
  font-size: 60px;
  margin: 50px 0 -10px 0;
}

.buy-banner > h2 {
  font-size: 30px;
  font-weight: bolder;
}

.buy-banner > img {
  width: 20%;
}

.price {
  color: rgb(15, 15, 15);
  font-size: 16px;
  margin-bottom: 40px;
}

.phrase {
  color: #000;
  font-size: 22px;
  font-weight: 200;
  margin-top: -10px;
  letter-spacing: 5px;
}
