.wrapper {
  margin: 50px auto;
  width: 400px;
  height: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.general-info > img {
  width: 300px;
  /* margin-bottom: 20px; */
}

.general-info > p {
  margin-top: -12px;
  font-size: 14px;
  font-weight: 300;
}

.general-info_button {
  margin-top: 10px;
  outline: none;
  border-radius: 20px;
  background-color: #0177ed;
  padding: 8px 11px;
  border: none;
  color: #fff;
  transition: all 0.2s ease;
}

.general-info_button:hover {
  background-color: #56aaff;
}

.general-info > hr {
  width: 200px;
  opacity: 50%;
  margin: 40px auto -10px auto;
}

.info > p {
  margin: 40px auto;
  font-weight: bold;
  font-size: 20px;
}
