.counter-container {
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 130px;
  background-color: #f8f8f8;
  border: 1px solid #7a797946;
}

.counter {
  width: 65%;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.counter-envio {
  line-height: 10px;
  font-size: 12px;
  color: #555;
}

.counter-envio > p {
  padding-left: 10px;
}

.counter-envio > a {
  font-size: 14px;
  text-decoration: none;
  color: #5292d7;
  padding-left: 10px;
}

.counter-envio > a:hover {
  text-decoration: underline;
}

.counter-precio {
  display: flex;
  justify-content: center;
  align-items: center;
}

.counter-precio > h2 {
  font-weight: 500;
  margin-right: 20px;
}

.counter-precio__button {
  margin: 0 5px;
  border: 1px solid #1666a3;
  border-radius: 5px;
  background-color: #0d7fd6;
  transition: all 0.2s ease;
  color: #fff;
  padding: 12px 16px;
  font-size: 18px;
}

.counter-precio__button:hover {
  background-color: #49a3e9;
}

.counter-precio__button-num {
  margin: 0 5px;
  border: 1px solid #1666a3;
  border-radius: 5px;
  background-color: #0d7fd6;
  transition: all 0.2s ease;
  color: #fff;
  font-size: 18px;
  padding: 12px 15px;
}

.counter-precio__button-num:hover {
  background-color: #49a3e9;
}
